<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     my  templates contents
     <br/>{{ my_str }}
     <br/>{{ my_int }}
     <br/>{{ my_array }}
     <br/>{{ my_dict }}
     <br/>my_int996 + 10 的和：{{ my_int + 10 }}
     <br/>my_array 第0个值为： {{ my_array[0] }}
     <br/>my_dict 中name的值为： {{ my_dict['name'] }}
     <br/><p>链式调用</p>
     <br/>{{ 'hello world'|reverse|upper }}
     <br/><p>禁用转义</p>
     <br/><p>{{ '<em>hello</em>'|safe }}</p>
     <br/><p>首字母大写</p>
     <br/>{{ 'hello'|capitalize }}
     <br/>{{ 'HELLO'|lower }}  转小写  同理 upper 转大写
     <br/>{{ 'hello flask'|title }}  每个单词首字母都大写
     <br/>{{ 'hello' | reverse  }}  字符串反转
     <br/>{{ '%s is %d'| format('name',18) }}  格式化输出
     <br/>{{ '<em>hello</em>' | striptags }} 渲染前把值中所有的HTML标签都去掉
     <br/>{{ 'hello every one '| truncate(9) }} 字符串截断


     <h3>列表操作</h3>
     <p>{{ [1,2,3,4,5,6,7,8]|first }}</p>
     <p>{{ [1,2,3,4,5,6,7,8]|last }}</p>
     <p>{{ [1,2,3,4,5,6,7,8]|length }}</p>
     <p>{{ [1,2,3,4,5,6,7,8]|sum }}</p>
     <p>{{ [5,2,6,3,1,4]|sort }}</p>

     <h3>语句块过滤</h3>
     {%  filter upper %}
         I heard that you settled down and you found a girl and you marry now-ao-ao
         I heard that you dread cames true.
     {% endfilter %}

     <h3>自定义过滤器</h3>
     <br/>my_array 原内容： {{ my_array }}
     <br/>my_array 反转： {{ my_array | lireverse }}


     <h3>控制代码块</h3>
     {% if user.is_logged_in()  %}
        <a href="/logout">logout</a>
     {% else %}
        <a href = '/login'>login</a>
     {% endif %}

     <p>过滤器可以放在if中</p>
     {% if comments | length >0  %}
        there are {{  comments | length  }} comments
     {% else %}
        there are no comments
     {% endif %}

     {% for post in posts %}
        <div>
            <h1>{{ post.title }}</h1>
            <p>{{ post.test | safe }}</p>
        </div>
     {% endfor %}

</body>
</html>